<h1>List of Restaurants</h1>
<input type="button" onclick="location.href='/api/restaurants?page={{data.currentPage}}';" value="Show More" />
{{!-- <button id='next' onclick='Showmore()'>Show More</button> --}}
<Table border='1' id="restaurant_table">
	<thead>
		<tr>
			{{#each data.restaurants.[0]}}
				<th>{{@key}}</th>
			{{/each}}
		</tr>
		{{#each data.restaurants}}
			<tr>
				<td>  <a href="/api/restaurants/{{this._id}}">{{this._id}}</a> </td>
				<td>
					<div>Building no: {{this.address.building}}</div>
					<div>Coordinate: {{this.address.coord}}</div>
					<div>Street: {{this.address.street}}</div>
					<div>ZipCode: {{this.address.zipcode}}</div>

				</td>
				<td>{{this.borough}}</td>
				<td>{{this.cuisine}}</td>
				<td>{{#each this.grades}}
						<ul>
							<div>Date: {{this.date}}</div>
							<div>Grade: {{this.grade}}</div>
							<div>Score: {{this.score}} </div>
						</ul>
					{{/each}}</td>
				<td>{{this.name}}</td>
				<td>{{this.restaurant_id}}</td>
			</tr>
		{{/each}}
	</thead>
</Table>