<h1>List of Restaurants</h1>
<button id='next' onclick='Showmore()'>Show More</button>
<Table border='1'>
	<thead>
		<tr>
			{{#each data.[0]}}
				<th>{{@key}}</th>
			{{/each}}
		</tr>
		{{#each data}}
			<tr>
				<td>{{this._id}}</td>
				<td>
					<div>Building no: {{this.address.building}}</div>
					<div>Coordinate: {{this.address.coord}}</div>
					<div>Street: {{this.address.street}}</div>
					<div>ZipCode: {{this.address.zipcode}}</div>

				</td>
				<td>{{this.borough}}</td>
				<td>{{this.cuisine}}</td>
				<td>{{#each this.grades}}
						<ul>
							<div>Date: {{this.date}}</div>
							<div>Grade: {{this.grade}}</div>
							<div>Score: {{this.score}} </div>
						</ul>
					{{/each}}</td>
				<td>{{this.name}}</td>
				<td>{{this.restaurant_id}}</td>
			</tr>
		{{/each}}
	</thead>
</Table>